# Ignore all macOS metadata files
.DS_Store

# Ignore all Python cache and compiled files
__pycache__/
*.pyc

# Ignore everything in templates, history, and wildcards folders (any depth)
templates/**
history/**
wildcards/**

# Include exceptions for initial setup
!templates/
!templates/sfw/
!templates/sfw/sfw_fantasy.txt
!wildcards/
!wildcards/fantasy_race.json
!wildcards/sfw_outfit.json